<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card border-0 shadow">
          <div class="card-header bg-primary text-white text-center">
            <h3 class="fw-bold">Modifier mon mot de passe</h3>
          </div>
  
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="password" class="form-label fw-bold">Nouveau Mot de Passe :</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password" required (input)="checkPasswordMatch()">
              </div>
  
              <div class="mb-3">
                <label for="confirmPassword" class="form-label fw-bold">Confirmer le Mot de Passe :</label>
                <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="model.confirmPassword" name="confirmPassword" required (input)="checkPasswordMatch()">
                <small *ngIf="!passwordsMatch && model.confirmPassword" class="text-warning">
                  Les mots de passe ne correspondent pas.
                </small>
              </div>
  
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" [disabled]="!passwordsMatch || model.password.trim() === ''">
                  Enregistrer le nouveau mot de passe
                </button>
                <a routerLink="/espace-perso" class="btn btn-secondary">Annuler</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
