<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Fitness Valley</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coachs">Entraineurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/seance">Type de séance</a>
        </li>
        <li class="nav-item" *ngIf="authService.currentAuthUserValue.isLogged()">
          <a class="nav-link" routerLink="/activite">Activités</a>
        </li>
        <li class="nav-item" *ngIf="authService.currentAuthUserValue.isLogged()">
          <a class="nav-link" routerLink="/espace-personnel">Espace personnel</a>
        </li>
      </ul>
      <!-- Partie alignée à droite -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="authService.currentAuthUserValue.isLogged()">
          <button class="nav-link btn btn-link" (click)="logout()">
            Déconnexion
            <i *ngIf="authService.currentAuthUserValue.isAdmin()">ADMIN</i>
            <i *ngIf="!authService.currentAuthUserValue.isAdmin()">user</i>
          </button>
        </li>
        <li class="nav-item" *ngIf="!authService.currentAuthUserValue.isLogged()">
          <a class="nav-link" routerLink="/login">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
