.hero {
    width: 100vw;
    height: 100vh;
    background: url('/assets/salle-sport.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}