<div class="hero text-white">
    <div>
      <h1>Atteins tes objectifs sportifs</h1>
      <p>Rejoins une communauté motivée et profite d’un encadrement de qualité.</p>
      <button class="btn btn-primary btn-lg mt-3" *ngIf="!authService.currentAuthUserValue.isLogged()" routerLink="/register">S'inscrire maintenant</button>
    </div>
</div>

<section class="container mt-5">
  <h2 class="text-center">Nos services</h2>
  <div class="row text-center mt-4">
    <div class="col-md-4">
      <fa-icon [icon]="faDumbbell" class="fs-1 text-primary"></fa-icon>
      <h4>Musculation</h4>
      <p>Des machines de dernière génération et des coachs pour t'accompagner.</p>
    </div>
    <div class="col-md-4">
      <fa-icon [icon]="faHeartPulse" class="fs-1 text-primary"></fa-icon>
      <h4>Cardio-training</h4>
      <p>Des tapis de course, vélos, rameurs et bien plus encore !</p>
    </div>
    <div class="col-md-4">
      <fa-icon [icon]="faUsers" class="fs-1 text-primary"></fa-icon>
      <h4>Cours collectifs</h4>
      <p>Zumba, Yoga, HIIT, et bien d'autres cours pour progresser ensemble.</p>
    </div>
  </div>
</section>  