<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0"><i class="fa fa-envelope mr-2"></i> Contact</h5>
    </div>
    <div class="card-body">
        <a href="mailto:{{ field.value }}" class="text-decoration-none">
            <p class="mb-0">{{ field.value }}</p>
        </a>
    </div>
</div>