<div class="card mb-3">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">{{ field.value }}</h4>
    </div>
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div>
                {% include 'admin/coach/photo_card.html.twig' with { 'entity': entity } %}
            </div>
            <div class="ml-3">
                <p class="mb-0" style="margin-left:10px">Coach professionnel</p>
            </div>
        </div>
    </div>
</div>