<div class="card mb-3">
    <div class="card-header">
        <h5 class="mb-0"><i class="fa fa-euro-sign mr-2"></i> Tarification</h5>
    </div>
    <div class="card-body">
        <h3 class="text-primary mb-0">{{ field.formattedValue }}</h3>
        <p class="text-muted mb-0">par heure</p>
    </div>
</div>