<div class="d-flex justify-content-center align-items-center mt-4">
  <div class="card p-4 shadow-lg rounded" style="width: 400px;">
    <h2 class="text-center text-primary mb-4">Connexion</h2>

    <div *ngIf="route.snapshot.queryParams['info'] === 'updated'" class="alert alert-info">
      Votre profil a bien été modifié. Veuillez vous reconnecter.
    </div>

    <div *ngIf="errorMessage" class="alert alert-dismissible alert-primary">
      <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="errorMessage = null"></button>
      <strong>Erreur :</strong> {{ errorMessage }}
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label fw-bold">Email :</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label fw-bold">Mot de Passe :</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Connexion</button>
    </form>

    <div class="text-center mt-3">
      <a routerLink="/register" class="text-muted">Créer un compte</a>
    </div>
  </div>
</div>
