{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title %}Bienvenue dans l'administration
{% endblock %}

{% block main %}
	{% if is_granted('ROLE_RESPONSABLE') %}
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Gestion de la salle de sport</h5>
						<p class="card-text">Bienvenue dans l'interface d'administration. Utilisez le menu de gauche pour accéder aux différentes sections.</p>

						<a href="{{ adminStatsRoute }}" class="btn btn-primary">Voir les statistiques</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
